.middle {
    height: 200px;
}

.profile-pic {
    margin-top: 20px !important;
}

.grey-bg {
    background-color: #CACBCD;
    color: #4c4c4c;
}

.page-footer {
    padding-top: 0 !important;
}

.nav-wrapper {
    background-color: #ee6e73;
}